.inputContainer {
    border:none;
    display:flex;
    width:100%;
    border: 1px solid rgb(var(--primary));
    border-radius: 10px;
    background-color: rgb(var(--primary), var(--opacity-1));
    font-size: 1.2rem;
    height: 2.6rem;
}
.input {
    width: 100%;
    height: inherit;
    background-color: transparent;
    display: block;
    padding: .4rem 1rem;
    color: rgb(var(--text));
    border: none;
    border-radius: 10px;
}
.input:focus {
    outline: none;
}
.inputContainer:focus-within {
    border: 1px solid rgb(var(--highlight));
    outline: 2px solid rgb(var(--highlight));
}
.isInvalid {
    border: 1px solid rgb(var(--error-dark));
    outline: 2px solid rgb(var(--error-dark));;   
}
.isValid {
    border: 1px solid rgb(var(--success-dark));
    outline: 2px solid rgb(var(--success-dark));;   
}
.isValid:focus {
    border: 1px solid rgb(var(--success-dark));
    outline: 2px solid rgb(var(--success-dark));;   
}
.passwordButton {
    outline: none;
    padding:0;
}
.passwordButton span {
    outline: 2px solid transparent;
    padding: .2rem .4rem;
}
.passwordButton:focus-visible span {
    outline: 2px solid rgb(var(--highlight));
}
.disabled{
    border: 1px solid #666666;
    background-color: #444444;
}