.group_date_day,
.group_date_hour,
.group_recurrent,
.group_priority {
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.group_date_day {
    grid-column: 6 / 12;
}

.group_date_hour {
    grid-column: 12 / -1;
}

.group_recurrent {
    grid-column: 8 / 11;
}

.group_priority {
    grid-column: 11 / -1;
}