.btn {
    background-color: rgb(var(--primary));
    border-radius: 10px;
    display: grid;
    place-content: center;
    padding: .4rem 1.5rem;
    border: 3px solid rgba(var(--background), var(--opacity-7));
}

.label {
    font-weight: 600;
    font-size: 1.4rem;
    color: rgb(var(--background), var(--opacity-7));
}