.container {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
}

.btn {
    grid-column: 4 / 11;
    background-color: rgb(var(--primary));
    border-radius: 10px;
    height: 5vh;
    display: grid;
    place-content: center;
}

.label {
    font-weight: 600;
    font-size: 1.4rem;
    color: rgb(var(--background), var(--opacity-7));
}