.scroll_container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-radius: 10px;
}

.scroll_container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
}

.scroll_container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(var(--primary), .4);
}

.scroll_container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(var(--primary), var(--opacity-7));
}

.scroll_container::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

.scroll_container::-webkit-scrollbar-corner {
    background-color: transparent;
}

.full_height {
    flex:1;
}