.alert_root {
  border: 2px solid;
  border-radius: 4px;
  padding: 1rem 1.2rem;
  font-weight: 600;
  display: flex;
}

.main{
  flex:1
}

.addon_prepend{
  padding-right:0.6rem;
  height:100%;
  display:flex;
}
.addon_append{
  height:100%;
  display:flex;
}


/**** Status ****/
/* Success */
.success.outline {
  background-color: rgba(var(--success),.1);
  border-color: rgba(var(--success-dark));
  color: rgba(var(--success-dark));
}
.success {
  background-color: rgba(var(--success-light));
  border-color: rgba(var(--success));
  color: rgba(var(--success-dark));
}
.success.filled{
  background-color: rgba(var(--success-dark));
  border-color: rgba(var(--success-dark));
  color: rgba(var(--text));
}

/* Error */
.error.outline {
  background-color: rgba(var(--error),.1);
  border-color: rgba(var(--error-dark));
  color: rgba(var(--error-dark));
}
.error {
  background-color: rgba(var(--error-light));
  border-color: rgba(var(--error));
  color: rgba(var(--error-dark));
}
.error.filled {
  background-color: rgba(var(--error-dark));
  border-color: rgba(var(--error-dark));
  color: rgba(var(--text));
}

/* Warning */
.warning.outline {
  background-color: rgba(var(--warning),.1);
  border-color: rgba(var(--warning-dark));
  color: rgba(var(--warning-dark));
}
.warning {
  background-color: rgba(var(--warning-light));
  border-color: rgba(var(--warning));
  color: rgba(var(--warning-dark));
}
.warning.filled{
  background-color: rgba(var(--warning-dark));
  border-color: rgba(var(--warning-dark));
  color: rgba(var(--text));
}

