.input_select,
.input_date_hour,
.input_recurrent {
    border: 2px solid rgb(var(--tertiary));
    background-color: rgba(var(--background), var(--opacity-7));
    border-radius: 10px;
    height: 2rem;
    color: rgba(var(--tertiary), var(--opacity-7));
    font-weight: 600;
    text-align: center;
}

.input_task {
    grid-column: 1 / -1;
    border: 2px solid rgb(var(--primary));
    background-color: rgb(var(--secondary), var(--opacity-1));
    border-radius: 10px;
    min-height: 2.6rem;
    height: 2.6rem;
    max-height: calc(2.6rem * 2);
    resize: vertical;
    width: 100%;
    padding: 0.6rem 1rem;
    box-sizing: border-box;
    color: rgb(var(--text));
    font-family: inherit;
    font-size: inherit;
    overflow-y: hidden;
    margin: 0;
}

.input_task:focus {
    outline: none;
    border: 2px solid rgb(var(--highlight));
}

.input_date_hour {
    text-align: center;
    box-sizing: border-box;
    padding: 0 .4rem;
    position: relative;
}

.input_date_hour::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-10px);
    opacity: 0;
}

.input_recurrent {
    width: 2rem;
    box-sizing: border-box;
}

.input_recurrent svg {
    fill: rgba(var(--tertiary), var(--opacity-7));
    transform: scale(0.8);
}

.input_recurrent .checkbox {
    display: none;
}