/* .absolute {
  position: absolute;
}
.absolute.absolute-top{
  bottom: -25%;
  left: 1rem;
}
.absolute.absolute-bottom{

} */
/* .absolute {

}
.absolute.absolute-top{
  bottom: -25%;
  left: 1rem;
}
.absolute.absolute-bottom{

} */